.Page{
       
    display: flex;   
    flex-direction: column;


}


.About
{
    margin-top: 5%;  
    margin-bottom: 5%;  
    height: 100vh;
    width: 100vw;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 182, 182);
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


.Aimg
{
    width: 550px;
    height: 400px;
    background-image: url(../Images/girl.jpg);
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);   
    border-radius: 5px;
    margin: 30px;
}

.Abox
{
    height: 550px;
    width: 40%;

    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 20, 20);

}

.Aheading
{
    width: 100%;
    height: 30%;
    font-size: 50px;
    color: rgb(250, 190, 24);
    font-weight: bold;

    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: flex-end;
    justify-content: center;

    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(250, 190, 24);
    
    }

    .Adata
    {
        width: 90%;
        height: 70%;
        font-size: 18px;
        color: rgb(250, 190, 24);
    
        background-color: rgb(20, 20, 20);
    
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        color: rgb(155, 155, 155);
        font-family: "Tahoma";
        
        }   


        .Contact
        {
            margin-top: 5%;  
            margin-bottom: 5%;  
            
            display: flex;    
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: rgb(182, 182, 182);
            box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        
        }
        
        
        .Cimg
        {
            width: 520px;
            height: 360px;
            background-image: url(../Images/girl3.jpg);
            box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);   
            border-radius: 5px;
            margin: 30px;
        }
        
        .Cbox
        {
            height: 600px;
            width: 40%;
        
            box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            margin: 20px;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(20, 20, 20);
        
        }
        
        .Cheading
        {
            width: 100%;
            height: 30%;
            font-size: 50px;
            color: rgb(250, 190, 24);
            font-weight: bold;
        
            background-color: rgb(20, 20, 20);
            display: flex;
            align-items: flex-end;
            justify-content: center;
        
            border-bottom: solid;
            border-width: 1px;
            border-color: rgb(250, 190, 24);
            
            }
        
            .Cdata
            {
                width: 90%;
                height: 70%;
            
                background-color: rgb(20, 20, 20);

                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                                
                }   
                .Cdata label
                {
                    padding: 10px;   
                    font-size: 18px;     
                    display: flex;
                    color: rgb(155, 155, 155);
                font-family: "Tahoma";
                }        